@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

:root {
  --main-bg-dark: #25b373;
  --main-bg-medium: #1b1b1b;
  --main-bg-hover: #5c5c5c;
  --main-bg-light: #077242;
}

a {
  color: inherit;
  text-decoration: none;
}

#MessageContainer {
  background-image: url("../assets/bg-images/dark.png");
  background-repeat: repeat;
}
